* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2a2c5d;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
a, a:link, a:visited {
    color: #6ec9c5;
}
a:hover, a:active {
    color: #584a9b;
}
.logo {
    margin-top: 100px;
    width: 60%; 
    max-width: 600px;
}
.tagline {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
    text-transform: uppercase;
	padding: 40px 0;
	-webkit-text-stroke-width: 1px;
	animation: fill-animation 4s linear;
}
@keyframes fill-animation {
	0% {
	  color: rgba(255, 255, 255, 0);
	  -webkit-text-stroke: 1px white;
	}
	100% {
	  color: white;
	  -webkit-text-stroke: 1px white;
	}
}
